# Python

**pycache**/
*.py[cod]
*.pyo

# Virtual environment

venv/
.venv/
env/
.env

# macOS

.DS_Store

# IDE / Editor

.vscode/
.idea/

# Jupyter Notebook

.ipynb_checkpoints/

# Build / distribution

build/
dist/
*.egg-info/
